@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout1.cshtml";
}

<h1>ForgetPassword</h1>
<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="SendEmail">

				<input asp-for="Email" placeholder=" Email">
				<span asp-validation-for="Email" class="text-danger"></span>
				<br />
			
			
				<input type="submit" value="Reset Password">
			</form>
		</div>
	</div>
	@section VaildationScriptSection {
		<partial name="_ValidationScriptsPartial" />
	}



